@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

$beige: beige;

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: $beige;
  font-size: 12px;
}